<h2>レシピ編集</h2>
<%= form_with model: @recipe, url:recipe_path(@recipe.id), method: :patch do |f| %>

  <table class="table">
    
    <div class="field">
      <%= f.label :レシピ画像 %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  
    <div class="field">
      <tr>
      <th><%= f.label :レシピ名 %></th>
      <td><%= f.text_field :recipe_name %></td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
        <th><%= f.label :カテゴリー %></th>
        <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :何人前 %></th>
        <td><%= f.text_field :serving %>人前</td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :調理時間 %></th>
        <td><%= f.text_field :cooking_time %>分</td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :費用 %></th>
        <td><%= f.text_field :price %>円</td>
      </tr>
    </div>
  
    <div class="field"><tr>
        <th><%= f.label :材料 %></th>
        <td><%= f.text_area :ingredient, size: "30x10" %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :作り方 %></th>
        <td><%= f.text_area :recipe, size: "30x10" %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :コツ・ポイント %></th>
        <td><%= f.text_area :point, size: "30x10" %></td>
      </tr>
    </div>
  </table>

  <%= f.submit '変更を保存', class: "btn btn-success" %>

<% end %>