<h2>レシピ投稿</h2>

<% if @recipe.errors.any? %>
  <%= @recipe.errors.count %>件のエラーが発生しました
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @recipe, url:recipes_path do |f| %>
  
  <table class="table">
    
    <div class="field">
      <%= f.label :レシピ画像 %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  
    <div class="field">
      <tr>
      <th><%= f.label :レシピ名 %></th>
      <td><%= f.text_field :recipe_name %></td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
        <th><%= f.label :カテゴリー %></th>
        <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :何人前 %></th>
        <td><%= f.text_field :serving %>人前</td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :調理時間 %></th>
        <td><%= f.text_field :cooking_time %>分</td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :費用 %></th>
        <td><%= f.text_field :price %>円</td>
      </tr>
    </div>
  
    <div class="field"><tr>
        <th><%= f.label :材料 %></th>
        <td><%= f.text_area :ingredient, size: "30x10" %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :作り方 %></th>
        <td><%= f.text_area :recipe, size: "30x10" %></td>
      </tr>
    </div>
  
    <div class="field">
      <tr>
        <th><%= f.label :コツ・ポイント %></th>
        <td><%= f.text_area :point, size: "30x10" %></td>
      </tr>
    </div>
  </table>
    
  <%= f.submit '投稿する', class: "btn btn-success" %>
    
<% end %>
