<%= flash[:notice] %>

<div class="container px-5 px-sm-0">
  <h2>レシピ詳細</h2>

  <div class="row">
    <div class="col-md-3">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image, class: "show-img" %>
      <% else %>
        <%= image_tag 'default-image.jpg', size: "200x200" %>
      <% end %>

      
    </div>


    <div class="col-md-8 offset-md-1">
      
      <!--投稿ユーザー情報-->
      <%= image_tag @recipe.user.get_image(100,100) %>
      <%= @recipe.user.name %>

    <table class="table">
      <tr>
        <th>レシピ名</th>
        <td><%= @recipe.recipe_name %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= @recipe.genre.genre_name %></td>
      </tr>
      <tr>
        <th>何人前</th>
        <td><%= @recipe.serving %>人前</td>
      </tr>
      <tr>
        <th>調理時間</th>
        <td><%= @recipe.cooking_time %>分</td>
      </tr>
      <tr>
        <th>費用</th>
        <td><%= @recipe.price %>円</td>
      </tr>
      <tr>
        <th>材料</th>
        <td><%= safe_join(@recipe.ingredient.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <th>作り方</th>
        <td><%= safe_join(@recipe.recipe.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <th>コツ・ポイント</th>
        <td><%= safe_join(@recipe.point.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @recipe.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </table>
    
    <% if @recipe.user == current_user %>
    <%= link_to "編集する", edit_recipe_path, class: "btn btn-success" %>
    <% end %>
    <% if @recipe.user == current_user  || current_user.admin?%>
    <%= link_to "削除する", recipe_path(@recipe.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
    <% end %>

  </div>
</div>

  <% if @recipe.favorited_by?(current_user) %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
        ♥<%= @recipe.favorites.count %> 保存
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :post do %>
        ♡<%= @recipe.favorites.count %> 保存
      <% end %>
    </p>
  <% end %>

<div>
  <p>コメント件数：<%= @recipe.comments.count %></p>
  <% @recipe.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_image(50,50) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user || current_user.admin? %>
      <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@recipe, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-primary" %>
  <% end %>
</div>