<h5>会員情報編集</h5>
<%= form_with model: @user, url:update_user_path, method: :patch do |f| %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <%= f.submit '変更を保存', class: "btn btn-primary" %>

<% end %>